openapi: 3.1.0
info:
  title: Bloomberg Data License API (HAPI) Broker Strategies Requests API
  description: Provides programmatic access to Bloomberg's comprehensive financial, pricing, reference, regulatory, and alternative data covering over 50 million securities and 56,000 fields via the Hypermedia API (HAPI). The BEAP/HAPI follows a hypermedia-driven REST architecture where clients discover resources through link relations in responses.
  version: 1.0.0
  contact:
    name: Bloomberg Developer Support
    url: https://developer.bloomberg.com/
  license:
    name: Proprietary
    url: https://www.bloomberg.com/notices/tos/
  termsOfService: https://www.bloomberg.com/notices/tos/
servers:
- url: https://api.bloomberg.com/eap
  description: Bloomberg Enterprise Access Point (Production)
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Requests
  description: Create and manage data requests
paths:
  /catalogs/{catalogId}/requests:
    get:
      operationId: listRequests
      summary: List Data Requests
      description: Returns all data requests in the catalog.
      tags:
      - Requests
      parameters:
      - $ref: '#/components/parameters/catalogId'
      responses:
        '200':
          description: A list of data requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestCollection'
              examples:
                Listrequests200Example:
                  summary: Default listRequests 200 response
                  x-microcks-default: true
                  value:
                    contains:
                    - '@type': example_value
                      identifier: example_value
                      title: Example Title
                      description: A sample description.
                      universe: https://www.example.com
                      fieldList: https://www.example.com
                      trigger: https://www.example.com
                      formatting: {}
                      status: active
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: createRequest
      summary: Create a Data Request
      description: Creates a new data request combining a universe, field list, and trigger to produce a scheduled data output.
      tags:
      - Requests
      parameters:
      - $ref: '#/components/parameters/catalogId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCreate'
            examples:
              CreaterequestRequestExample:
                summary: Default createRequest request
                x-microcks-default: true
                value:
                  '@type': example_value
                  identifier: example_value
                  title: Example Title
                  description: A sample description.
                  universe: https://www.example.com
                  fieldList: https://www.example.com
                  trigger: https://www.example.com
                  formatting:
                    type: DataOutputJson
                    dateFormat: example_value
                    columnHeader: true
      responses:
        '201':
          description: Request created
          headers:
            Location:
              description: URI of the created request
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataRequest'
              examples:
                Createrequest201Example:
                  summary: Default createRequest 201 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    identifier: example_value
                    title: Example Title
                    description: A sample description.
                    universe: https://www.example.com
                    fieldList: https://www.example.com
                    trigger: https://www.example.com
                    formatting:
                      type: example_value
                      dateFormat: example_value
                    status: active
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /catalogs/{catalogId}/requests/{requestId}:
    get:
      operationId: getRequest
      summary: Get Data Request Details
      description: Returns details of a specific data request.
      tags:
      - Requests
      parameters:
      - $ref: '#/components/parameters/catalogId'
      - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: Data request details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataRequest'
              examples:
                Getrequest200Example:
                  summary: Default getRequest 200 response
                  x-microcks-default: true
                  value:
                    '@type': example_value
                    identifier: example_value
                    title: Example Title
                    description: A sample description.
                    universe: https://www.example.com
                    fieldList: https://www.example.com
                    trigger: https://www.example.com
                    formatting:
                      type: example_value
                      dateFormat: example_value
                    status: active
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteRequest
      summary: Delete a Data Request
      description: Deletes a specific data request.
      tags:
      - Requests
      parameters:
      - $ref: '#/components/parameters/catalogId'
      - $ref: '#/components/parameters/requestId'
      responses:
        '204':
          description: Request deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    RequestCollection:
      type: object
      properties:
        contains:
          type: array
          items:
            $ref: '#/components/schemas/DataRequest'
          example: []
    DataRequest:
      type: object
      properties:
        '@type':
          type: string
          const: DataRequest
          example: example_value
        identifier:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
        description:
          type: string
          example: A sample description.
        universe:
          type: string
          format: uri
          example: https://www.example.com
        fieldList:
          type: string
          format: uri
          example: https://www.example.com
        trigger:
          type: string
          format: uri
          example: https://www.example.com
        formatting:
          type: object
          properties:
            type:
              type: string
            dateFormat:
              type: string
          example: example_value
        status:
          type: string
          enum:
          - active
          - inactive
          - error
          example: active
    RequestCreate:
      type: object
      required:
      - '@type'
      - identifier
      - universe
      - fieldList
      - trigger
      properties:
        '@type':
          type: string
          const: DataRequest
          example: example_value
        identifier:
          type: string
          example: example_value
        title:
          type: string
          example: Example Title
        description:
          type: string
          example: A sample description.
        universe:
          type: string
          format: uri
          description: URI reference to the universe resource
          example: https://www.example.com
        fieldList:
          type: string
          format: uri
          description: URI reference to the field list resource
          example: https://www.example.com
        trigger:
          type: string
          format: uri
          description: URI reference to the trigger resource
          example: https://www.example.com
        formatting:
          type: object
          properties:
            type:
              type: string
              enum:
              - DataOutputJson
              - DataOutputCsv
            dateFormat:
              type: string
            columnHeader:
              type: boolean
          example: example_value
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: string
          example: example_value
  parameters:
    requestId:
      name: requestId
      in: path
      required: true
      description: Unique identifier for the data request
      schema:
        type: string
    catalogId:
      name: catalogId
      in: path
      required: true
      description: Unique identifier for the catalog
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication credentials missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bloomberg-issued JWT credential obtained from the Bloomberg Console.
    oauth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow
      flows:
        clientCredentials:
          tokenUrl: https://bsso.blpprofessional.com/ext/api/as/token.oauth2
          scopes:
            eap: Access to Enterprise Access Point data
            eap.catalogs.read: Read catalog data
            eap.catalogs.write: Write catalog data
